[flake8]
ignore =
       # multiple spaces before operator
       E221,
       # missing whitespace around operators
       E225, E226,
       # missing whitespace after ‘,’, ‘;’, or ‘:’,
       E231,
       # multiple imports on one line
       E401,
       # line too long (x > 79 characters)
       E501
